<div class="model-link">
  {% if model %}
    <div>{{ model }}</div>
  {% endif %}
  {% if repository %}
    <a href="{{ repository }}" class="icon"><i class="fa fa-brands fa-git"></i></a>
  {% endif %}
  {% if huggingface %}
    <a href="https://huggingface.co/{{ huggingface }}" class="icon"><img src="/modules/mof/assets/huggingface.svg"></a>
  {% endif %}
</div>
